@using HelloCoffee.Areas.Shop
@using HelloCoffeeApiClient.Areas.Shop.Data.Dto
<div id="shop-item-@ItemDto.Id" data-shop-id="@ItemDto.Id" class="card shadow-sm">
    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

    <div class="card-body">
        <h5>@ItemDto.Name</h5>
        <h6>@ItemDto.PriceAsCurrency</h6>
        <div class="d-flex justify-content-between align-items-center">
            <button type="button" class="btn btn-sm btn-primary w-100 mx-0 mt-2">Add to Basket</button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public ShopItemDto ItemDto { get; set; }
}